.time-selector-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 26px;
    box-sizing: border-box;
}

.time-selector-date {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
}

.time-selector-rows {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

.time-selector-row {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    align-items: flex-start;
}

.row-time-container {
    display: flex;
    /* max-width: 100%; */
    /* flex-wrap: wrap; */
    gap: 8px;
}

.row-item {
    padding: 5px 8px;
    /* padding: .7em; */
    height: 40px;
    max-width: 100px;
    /* width: 100%; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 22px;
    background: #FAFAFA;
    box-sizing: border-box;
}

.row-item:hover {
    background: #E9E9E9;
    cursor: pointer;
}

.row-item.disabled {
    background-color: white;
    color: #A9A9A9;
}

.row-item.disabled:hover {
    cursor: default;
}

@media screen and (max-width: 1000px) {
    .time-selector-container {
        
    }
}

@media screen and (max-width: 640px) {
    .time-selector-date {
        font-size: 16px;
    }

    .row-item {
        padding: 5px 8px;
        /* padding: .7em; */
        min-width: 60px;
        height: 40px;
        /* width: 100%; */
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 14px;

    }
}