.time-selector-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 26px;
    box-sizing: border-box;
}

.time-selector-date {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
}

.time-selector-rows {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    gap: 8px;
}

.row-time-container {
    width: 100%;
    /* box-sizing: border-box; */
    display: flex;
    gap: 8px;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.row-item {
    padding: 5px 8px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-size: 22px;
    background: #FAFAFA;

    /* flex-basis: 80px; */
    /* width: 20%; */
    width: 100%;
    /* max-width: 100px; */
    min-width: 70px;
    /* flex-shrink: 0; */
    /* flex-grow: 2; */

    box-sizing: border-box;
}

.row-item:hover {
    background: #E9E9E9;
    cursor: pointer;
}

.row-item.disabled {
    background-color: white;
    color: #A9A9A9;
}

.row-item.disabled:hover {
    cursor: default;
}

@media screen and (max-width: 1000px) {
    .time-selector-container {
        
    }
}

@media screen and (max-width: 640px) {
    .time-selector-date {
        font-size: 16px;
    }

    .row-item {
        padding: 5px 8px;
        min-width: 60px;
        height: 40px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 14px;
        min-width: 40px;
    }
}