.request-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    height: 100%;
}

.request-form-date {
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
}

.request-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    height: 100%;
}

.request-form-submit-button {
    width: 100%;
    height: 60px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    background: #333333;
    /* margin-top: auto; */
    cursor: pointer;
}

.request-form-submit-button:hover {
    opacity: 0.7;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-filled.MuiFormLabel-root.MuiFormLabel-colorPrimary.Mui-required.css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
    color: #A9A9A9;
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root {
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root::before {
    border: none;
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root::after {
    border: none;
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: black;
}

.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.css-19mk8g1-MuiInputBase-root-MuiFilledInput-root::before {
    border: none;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    .request-form-submit-button {        
        margin-top: auto;
    }
}