.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: inter;
    overflow-y: auto;
}

/* .main-part-container {
    flex: 4;
}

.footer-container {
    flex: 3;
} */